.header {
    background-color: #F6F3EC; 
    color: #fff;
    padding: 19px 0;
    width: 100%;    
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 25px; 
}

.menu a {
    font-family:'monserrat', sans-serif;
    color: #333333;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #a88f6a;
}

.imagenprinc {
    position: relative;
}

.imagenprinc img {
    width: 100%;
    display: block;
}

.imagenprinc::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.5), transparent 60%);
}

.texto-portada {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    max-width: 500px;
}

.texto-portada h1 {
    font-size: 5rem;
    margin: 0;
}

.texto-portada h2 {
    font-size: 3rem;
    font-family: italic;
    font-weight: normal;
    margin: 0 0 15px;
}

.texto-portada p{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

.boton-portada {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #6B7A4E;
    color: white;
    text-decoration: none;
}


.menuunavegacion {
    display: flex;
    justify-content: space-around;
    background: #EFE6D5;
    padding: 30px 20px;
}

.item-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
    text-decoration: none;
    color: #3E4A2E;
    font-weight: 600;
    border-right: 1px solid #C9BDA3;
    padding: 10px 15px;
}

.item-menu:last-child {
    border-right: none;
}

.item-menu i {
    font-size: 2.5rem;
}

.item-menu:hover {
    color: #6B7A4E;
}

.frentones {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 50px;
    padding: 60px 0;
}

.frentones-texto h3{
    font-family: 'Playfair Display', serif;
    color: #6b7a4e;
    font-size: 2rem;
    flex: 1; 
}

.frentones-texto h4{
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-size: 1rem;
    flex:1;
}

.frentonesimagen {
    flex: 1.2; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.frentonesimagen img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    display: block;
}

.boton-frentones {
    display: inline-block;
    padding: 10px 22px;
    background: #3E4A2E;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}

.boton-frentones:hover {
    background: #3E4A2E;
}

.circuitoturistico{
    background-color: #6B7A4E; 
    color: #fff;
    padding: 19px 0;
    width: 100%; 
}

.circuitoturistico h5{
    font-family: "Montserrat", sans-serif;
    color: #fffdfd;
    font-size: 1rem;
    flex:1;
}

.boton-circuito {
    display: inline-block;
    padding: 10px 22px;
    background: #dcc9a8;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem; 
}

.boton-circuito:hover {
    background: #dcc9a8;
}

.emprendimientos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
    align-items: center;
    padding: 50px 60px;
    background: linear-gradient(135deg, #DCC9A8, #C9B48C);
}


.emprendimientos-locales h7 {
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    color: #3E4A2E;
    margin: 0 0 15px;
}

.emprendimientos-locales p {
    color: #000000;
    margin: 0 0 20px;
    line-height: 1.5;
}

.boton-emp {
    display: inline-block;
    padding: 10px 22px;
    background: #A88F6A;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}

.boton-emp:hover {
    background: #5A3E2B;
}

.experiencia-ferroviaria {
    display: flex;
    background: #F6F3EC;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.experiencia-info {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experiencia-info h8 {
    font-family: "Playfair Display", serif;
    color: #040504;
    margin: 0 0 8px;
}

.experiencia-sub {
    font-size: 0.8rem;
    color: #080807;
    margin-bottom: 15px;
}

.experiencia-info p {
    color: #000000;
    line-height: 1.5;
    margin: 0;
}

.experiencia-ferroviaria img {
    flex: 1.2;
    width: 50%;
    object-fit: cover;
    display: block;
}

.pueblo{
    background-color: #f8f8f8; 
    color: #fff;
    padding: 19px 0;
    width: 100%;
}

