.header {
    background-color: #F6F3EC; 
    color: #fff;
    padding: 19px 0;
    width: 100%;    
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.imagenprinc {
    position: relative;
}

.imagenprinc img {
    width: 100%;
    display: block;
}

.imagenprinc::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.5), transparent 60%);
}

.texto-portada {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    max-width: 500px;
}

.texto-portada h1 {
    font-size: 5rem;
    margin: 0;
}

.texto-portada h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 15px;
}

.btn-portada {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #6B7A4E;
    color: white;
    text-decoration: none;
}


.menuunavegacion {
    display: flex;
    justify-content: space-around;
    background: #EFE6D5;
    padding: 30px 20px;
}

.item-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
    text-decoration: none;
    color: #3E4A2E;
    font-weight: 600;
    border-right: 1px solid #C9BDA3;
    padding: 10px 15px;
}

.item-menu:last-child {
    border-right: none;
}

.item-menu i {
    font-size: 2.5rem;
}

.item-menu:hover {
    color: #6B7A4E;
}



.frentones {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 50px;
    padding: 60px 0;
}

.frentones-texto {
    font-family: 'Playfair Display', serif;
    font-size: 0.75rem;
    flex: 1; 
}

.frentonesimagen {
    flex: 1.2; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.frentonesimagen img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    display: block;
}

.Frentonesboton {
    display: inline-block;
    background-color: #3E4A2E;
}

.circuitoturistico{
    background-color: #6B7A4E; 
    color: #fff;
    padding: 19px 0;
    width: 100%; 

}

.emprendimientos {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
    align-items: center;
    padding: 50px 60px;
    background: linear-gradient(135deg, #DCC9A8, #C9B48C);
}


.emp-intro h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    color: #000000;
    margin: 0 0 15px;
}

.emp-intro p {
    color: #5A3E2B;
    margin: 0 0 20px;
    line-height: 1.5;
}

.btn-emp {
    display: inline-block;
    padding: 10px 22px;
    background: #A88F6A;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}

.btn-emp:hover {
    background: #5A3E2B;
}


.emp-tarjeta {
    display: flex;
    background: #F6F3EC;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.emp-info {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emp-info h3 {
    font-family: "Playfair Display", serif;
    color: #040504;
    margin: 0 0 8px;
}

.emp-sub {
    font-size: 0.8rem;
    color: #080807;
    margin-bottom: 15px;
}

.emp-info p {
    color: #000000;
    line-height: 1.5;
    margin: 0;
}

.emp-tarjeta img {
    flex: 1.2;
    width: 50%;
    object-fit: cover;
    display: block;
}


.pueblo{
    background-color: #DCC9A8; 
    color: #fff;
    padding: 19px 0;
    width: 100%;
}

